---
import '../../styles/podcast.css';
import BaseHead from '../../components/BaseHead.astro';
import Banner from '../../components/Banner.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import FeatureImage from '../../components/FeatureImage.astro';
import playButton from '../../assets/play.png';

import { Image } from 'astro:assets';
import { SITE_TITLE, SITE_DESCRIPTION, WORDPRESS_API_EPISODES_URL, PER_PAGE } from '../../consts';

interface Props {
    episodes: any;
    page: number;
}

export async function getStaticPaths() {
    const pages = Array<any>();

    while (true) {
        const page = pages.length + 1;
        const data = await fetch(`${WORDPRESS_API_EPISODES_URL}/?per_page=${PER_PAGE}&page=${page}&_embed`)
        const episodes = await data.json();

        pages.push({
            params: { page },
            props: { 
                episodes,
                page
            },
        });

        if (episodes.length < PER_PAGE) {
           return pages;
        }
    }
}

const { episodes, page } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header title={SITE_TITLE} />
        <Banner />
        <main>
            <section>
                <ul>
                    {episodes.map((episode: any) => (
                        <li>
                            <div class="show">
                                <a href={`/${episode.slug}/`}
                                    class="featureImage">
                                    <FeatureImage slug={episode.slug} />
                                    <h5 class="title" set:html={episode.title.rendered} />
                                    <div class="showPlayIcon">
                                        <Image 
                                            src={playButton} 
                                            alt="play"
                                            style="box-shadow: none;"
                                            format='avif'
                                        />
                                    </div>
                                </a>
                            </div>
                        </li>
                    )) }
                </ul>
                <div class="pagination">
                    <a href={page == 2 ? `/` : `/page/${page-1}`}> &lt;&lt;&lt; </a> 
                    <a href={`/page/${page+1}`} style=`display: ${episodes.length < PER_PAGE ? 'none' : 'block'}`> &gt;&gt;&gt;</a>
                    <span style=`display: ${episodes.length < PER_PAGE ? 'block' : 'none'}; margin-left: 3.5em;`> &gt;&gt;&gt;</span>
                </div>
            </section>
        </main>
        <Footer />
    </body>
</html>
